@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Esconaltur

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #2e3190;
$tertiary_color: #ffff00;
$background: #f1f1f1;
$border: #f1f1f1;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: $secondary_color;
	.moduletable_to1 {
		margin: 15px 0;
	}
	.moduletable_to2 {
		margin: 15px 0;
		.top-bar {
			padding: 0;
			background-color: transparent;
			#responsive-menu {
				ul.menu {
					background-color: transparent;
					li {
						background: {
							image: url(menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-item {
							a {
								color: $tertiary_color;
							}
						}
						a {
							padding: 0 25px;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								color: $tertiary_color;
							}
						}
						ul.sub-menu {
							padding: 10px 0;
							background-color: $secondary_color;
							border: 0;
							li {
								padding: 0 10px;
								background-image: none;
								a {
									padding: 10px;
									&:hover {
										background-color: #fff;
										color: $primary_color;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 20px 0;
	h1 {
		margin-bottom: 20px;
		font-size: 22px;
		color: $secondary_color;
	}
	h2 {
		margin-bottom: 20px;
		padding: 5px 0;
		border: {
			top: 1px solid $border;
			bottom: 1px solid $border;
		}
		font-size: 18px;
	}
	.wpcf7 {
		.button {
			background-color: $secondary_color;
		}
	}
}

/* Home */

.home {
	padding: 20px 0;
	.moduletable_ho1 {
		h2 {
			margin-bottom: 20px;
			padding: 5px 0;
			border: {
				top: 1px solid $border;
				bottom: 1px solid $border;
			}
			font-size: 18px;
		}
		.textwidget {
			.purple,
			.blue,
			.green {
				margin: 0;
				.columns {
					padding: 0;
					h3 {
						margin-bottom: 20px;
						font: {
							size: 28px;
							weight: bold;
						}
						color: #fff;
					}
					p {
						margin: 0;
						img {
							width: 100% !important;
						}
						a {
							&.button {
								border: 1px solid #fff;
								color: #fff;
							}
						}
					}
				}
			}
			.purple {
				background-color: #9d005d;
			}
			.blue {
				background-color: $secondary_color;
			}
			.green {
				background-color: #8bc53f;
			}
		}
	}
}

/* Service */

.service {
	padding: 20px 0;
	.moduletable_se1 {
		h2 {
			margin-bottom: 20px;
			padding: 5px 0;
			border: {
				top: 1px solid $border;
				bottom: 1px solid $border;
			}
			font-size: 18px;
		}
		.textwidget {
			padding: 20px 0;
			background-color: $background;
			p {
				margin: 0;
			}
		}
	}
	.moduletable_se2,
	.moduletable_se3,
	.moduletable_se4 {
		.textwidget {
			.row {
				margin: 0;
				.columns {
					padding: 0;
				}
			}
		}
		.box {
			padding: 10px 20px;
			color: #fff;
		}
	}
	.moduletable_se2 {
		background-color: #9d005d;
	}
	.moduletable_se3 {
		background-color: $secondary_color;
	}
	.moduletable_se4 {
		background-color: #8bc53f;
	}
}

/* Logos */

.logos {
	padding: 20px 0;
	.moduletable_lo1 {
		h2 {
			margin-bottom: 20px;
			padding: 5px 0;
			border: {
				top: 1px solid $border;
				bottom: 1px solid $border;
			}
			font-size: 18px;
		}
	}
}

/* Social Media */

.social_media {
	padding: 20px 0;
	background-color: $background;
	p {
		margin: 0;
		a {
			margin: 0 10px;
		}
	}
}

/* Newsletter */

.newsletter {
	padding: 20px 0;
	.moduletable_nl1 {
		h2 {
			width: 50%;
			margin: 0;
			font-size: 18px;
			text-align: center;
			float: left;
			position: relative;
		}
		.tnp-widget {
			width: 50%;
			float: left;
			position: relative;
			.tnp-field {
				margin: 0;
			}
			.tnp-field-email {
				width: 50%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input.tnp-email {
					margin: 0;
					background-color: #fff;
				}
			}
			.tnp-field-button {
				width: 30%;
				float: left;
				position: relative;
				input.tnp-submit {
					margin: 0;
					background-color: $secondary_color;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0 5px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		font-size: 18px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding: 0 0 20px 0;
	background-color: $secondary_color;
	font-size: 18px;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: #fff;
					text-align: center;
					.menu-icon.dark {
						&:after {
							background: #fff;
							box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						display: grid;
						li {
							background: none;
							a {
								padding-top: 15px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
	}

	/* Newsletter */

	.newsletter {
		.moduletable_nl1 {
			h2 {
				width: 100%;
				margin-bottom: 10px;
				float: none;
			}
			.tnp-widget {
				width: 100%;
				float: none;
				.tnp-field-email {
					width: 60%;
				}
				.tnp-field-button {
					width: 40%;
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}